{% extends "base.html" %}
{% block content %}
<h1>Muokkaa drinkkiä Long island ice tea</h1>
<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="Long island ice tea"/>
    </div>
    
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control"></textarea>
    </div>
    
    <div class="form-group">
        <label>Ohje</label>
        <textarea class="form-control">Laita ravistimeen jäitä, lisää muut ainesosat. ja sekoita pikaisesti. Kaada juoma lasiin, jossa on jääpaloja pohjalla. Valmiin juoman tulisi poreilla kevyesti. Koristele juoma sitruunaviipaleella.
        </textarea>
    </div>
    
    <div class="form-group">
        <label>Ajankohta</label>
        <input type="text" class="form-control" value="All day"/>
    </div>
    
    <div class="form-group">
        <label>Makeus</label>
        <input type="text" class="form-control" value="Makeahko"/>
    </div>
    <div class="form-group">
        <label>Lämpötila</label>
        <input type="text" class="form-control" value="Jäinen"/>
    </div>
    
    <div class="form-group">
        <label>Lasi</label>
        <input type="text" class="form-control" value="Collins-lasi"/>
    </div>
     <div class="form-group">
        <label>Valmistus menetelmä</label>
        <input type="text" class="form-control" value="ravistetaan"/>
    </div>
    
    <div class="form-group">
        <!-- Pitää selvittää miten tämä taulukko kannattaa laittaa editointi tilaan -->
        <label>Ainesosat</label>
        <table class="table table-striped table-bordered">
            <tr>
                <td><input type="text" class="form-control" value="Gin"/></td>
                <td><input type="text" class="form-control" value="1 cl"/></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" value="Rommi (vaalea)"/></td>
                <td><input type="text" class="form-control" value="1 cl"/></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" value="Cola limsa"/></td>
                <td><input type="text" class="form-control" value="1 dl"/></td>
            </tr>
            <tr> 
                <td><input type="text" class="form-control" value="Siirappi (sitruuna)"/></td>
                <td><input type="text" class="form-control" value="1,5 cl"/></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" value="Triple sec"/></td>
                <td><input type="text" class="form-control" value="1 cl"/></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" value="Tequila"/></td>
                <td><input type="text" class="form-control" value="1 cl"/></td>
            </tr>
            <tr> 
                <td><input type="text" class="form-control" value="Vodka"/></td>
                <td><input type="text" class="form-control" value="1 cl"/></td>
            </tr>
        </table>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}