{% extends "base.html" %}
{% block content %}
<h1>Hyväksymättömät ehdotukset</h1>
{% if user_logged_in %}
<p> 
    <a href="{{base_path}}/drinkit/lisaa" class="btn btn-success">Ehdota drinkkiä</a> 
</p>
{% endif %}
{% if not ehdotukset %}
<p>Ei ehdotuksia hyväksyttäväksi</p>
{% else %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Ehdottaja</th>
            <th>Hyväksy</th>
        </tr>
    </thead>
    <tbody>
        {% for ehdotus in ehdotukset %}
        <tr>
             <td><a href="{{base_path}}/drinkit/{{ehdotus.id}}">{{ehdotus.nimi}}</a></td>
            <td>{{ehdotus.ehdottaja}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}