{% extends "base.html" %}
{% block content %}
<h1>{{drinkki.nimi}}</h1>

<p>
    <a href="{{base_path}}/muokkaa_drinkkia" class="btn btn-success">Muokkaa</a> 
</p>

<div>
<h3>Kategoria</h3>
<ul>
    <li><strong>Ajankohta:</strong>{{drinkki.ajankohta}}</li>
    <li><strong>Makeus:</strong>{{drinkki.makeus}}</li>
    <li><strong>Lasi:</strong>{{drinkki.lasi}}</li>
    <li><strong>Lämpötila:</strong>{{drinkki.lampotila}}</li>
    <li><strong>Menetelmä:</strong>{{drinkki.menetelma}}</li>
</ul>
</div>

<div>
    <h3>Ainesosat</h3>
    <table class="table">
        <thead></thead>
        <tbody>
            <tr>
                <td>Gin</td>
                <td>1 cl</td>
            </tr>
            <tr>
                <td>Rommi (vaalea)</td>
                <td>1 cl</td>
            </tr>
            <tr>
                <td>Cola limsa</td>
                <td>1 dl</td>
            </tr>
            <tr> 
                <td>Siirappi (sitruuna)</td>
                <td>1,5 cl</td>
            </tr>
            <tr>
                <td>Triple sec</td>
                <td>1 cl</td>
            </tr>
            <tr>
                <td>Tequila</td>
                <td>1 cl</td>
            </tr>
            <tr> 
                <td>Vodka</td>
                <td>1 cl</td>
            </tr>
                
        </tbody>
    </table>
</div>

<div>
<h3>Kuvaus</h3>
{{drinkki.kuvaus}}
</div>

<div>
<h3>Valmistusohje</h3>
{{drinkki.ohje}}
</div>
{% endblock %}