{% extends "base.html" %}
{% block content %}
<h1>{{drinkki.nimi}}</h1>

<p>
    <a href="{{base_path}}/muokkaa_drinkkia" class="btn btn-success">Muokkaa</a> 
</p>

<div>
<h3>Kategoria</h3>
<ul>
    <li><strong>Ajankohta:</strong>{{drinkki.ajankohta}}</li>
    <li><strong>Makeus:</strong>{{drinkki.makeus}}</li>
    <li><strong>Lasi:</strong>{{drinkki.lasi}}</li>
    <li><strong>Lämpötila:</strong>{{drinkki.lampotila}}</li>
    <li><strong>Menetelmä:</strong>{{drinkki.menetelma}}</li>
</ul>
</div>

<div>
    <h3>Ainesosat</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Ainesosa</th>
                <th>Määrä</th>
            </tr>
        </thead>
        <tbody>
            {% for ainesosa in drinkki.aineet %}
            <tr>
                <td><a href="{{base_path}}/ainesosa/{{ainesosa.id}}">{{ainesosa.nimi}}</a></td>
                <td>{{ainesosa.maara}}</td>
            </tr>
            {% endfor %}                
        </tbody>
    </table>
</div>

<div>
<h3>Kuvaus</h3>
{{drinkki.kuvaus}}
</div>

<div>
<h3>Valmistusohje</h3>
{{drinkki.ohje}}
</div>
{% endblock %}