{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<h1>{{ainesosa.nimi}}</h1>
<p>
    {% if user_logged_in %}
    <a href="{{base_path}}/ainesosa/{{ainesosa.id}}/muokkaa" class="btn btn-success">Muokkaa</a>    
        {% if user_logged_in.yllapitaja %}
        {{forms.poisto_nappi("#{base_path}/ainesosa/#{ainesosa.id}/poista")}}
        {% endif %}
    {% endif %}
    <!--
    <form method="post" action="{{base_path}}/ainesosa/{{ainesosa.id}}/poista" style="display: inline-block;">
        <button type="submit" class="btn-danger">Poista</button>
    </form>-->
</p>
 
<div>
    <label>Tyyppi</label>
    <p>{{ainesosa.tyyppi}}</p>
</div>
<div>
    <label>Yleistä</label>
    <p>{{ainesosa.tietoa}}</p>
</div>

{% endblock %}