{% extends "base.html" %}
{% block content %}
<h1>Muokkaa ainesosaa: {{ainesosa.nimi}}</h1>
<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="{{ainesosa.nimi}}"/>
    </div>
    
    <div class="form-group">
        <label>Tyyppi</label>
        <input type="text" class="form-control" value="{{ainesosa.tyyppi}}"/>
    </div>
    
    <div class="form-group">
        <label>Yleistä</label>
        <textarea class="form-control">{{ainesosa.tietoa}}</textarea>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}