{% extends "base.html" %}
{% block content %}
<h1>Drinkit</h1>
<p> 
    <a href="#" class="btn btn-success">Ehdota drinkkiä</a> 
</p>
    
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Ainesosat</th>
            <th>Ajankohta</th>
            <th>Lämpötila</th>
            <th>Ehdottanut</th>
        </tr>
    </thead>
    <tbody>
        <!-- Tähän listataan tulevat drinkit -->
        {% for drinkki in drinkit %}
        <tr>
            <td><a href="{{base_path}}/drinkit/{{drinkki.id}}">{{drinkki.nimi}}</a></td>
            <td>7</td>
            <td>{{drinkki.ajankohta}}</td>
            <td>{{drinkki.lampotila}}</td>
            <td>{{drinkki.ehdottaja_id}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}