{% extends "base.html" %}
{% block content %}
<h1>Long island ice tea</h1>
<!-- Napit tähän -->

<!-- tiedot tähän -->
<div>
<h3>Kategoria</h3>
<ul>
    <li><strong>Ajankohta:</strong> all day</li>
    <li><strong>Makeus:</strong> makeahko</li>
    <li><strong>Lasi:</strong> collins-lasi</li>
    <li><strong>Lämpötila:</strong> jäinen</li>
    <li><strong>Menetelmä:</strong> ravistetaan</li>
</ul>
</div>

<div>
    <h3>Ainesosat</h3>
    <table class="table">
        <thead></thead>
        <tbody>
            <tr>
                <td>Gin</td>
                <td>1 cl</td>
            </tr>
            <tr>
                <td>Rommi (vaalea)</td>
                <td>1 cl</td>
            </tr>
            <tr>
                <td>Cola limsa</td>
                <td>1 dl</td>
            </tr>
            <tr> 
                <td>Siirappi (sitruuna)</td>
                <td>1,5 cl</td>
            </tr>
            <tr>
                <td>Triple sec</td>
                <td>1 cl</td>
            </tr>
            <tr>
                <td>Tequila</td>
                <td>1 cl</td>
            </tr>
            <tr> 
                <td>Vodka</td>
                <td>1 cl</td>
            </tr>
                
        </tbody>
    </table>
</div>

<div>
<h3>Kuvaus</h3>
</div>

<div>
<h3>Valmistusohje</h3>
Laita ravistimeen jäitä, lisää muut ainesosat. ja sekoita pikaisesti. Kaada juoma lasiin, jossa on jääpaloja pohjalla. Valmiin juoman tulisi poreilla kevyesti.

Koristele juoma sitruunaviipaleella.
</div>
{% endblock %}